DATABASE_PASSWORD=your database password
DATABASE_USER=your database username
DATABASE_HOST=your database host
DATABASE_PORT=your database port
DATABASE_NAME=your database name

SECRET_KEY=your secret key
ALGORITHM=your algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=your access token expiration time in minutes

# SMTP Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your smtp username
SMTP_PASSWORD=your smtp password
SMTP_FROM=your smtp from address
SMTP_ENABLE=true